<br />
<%= form_for :user, :url => root_path(@user) do |f| %>
	<%= f.label 'Enter your Twitter username' %>
	<%= f.text_field :name %>
	<%= f.submit "Submit" %>
<% end %>

<% if @user.name != nil %>
	<h1><%= Twitter.user(@user.name).name %></h1>
	<br />
	<div class="tile 1">
		<% Twitter.user_timeline(@user.name, :count => 10).each do |t| %>
			<%= t.text %><br />
		<% end %>
	</div>
<% end %>